@use '@angular/material' as mat;
@use './palettes.scss' as palette;
@import './theme-functions.scss';


$my-grey-primary: mat.define-palette(palette.$grey-palette, 300, 200, 300);
$my-grey-accent: mat-palette($mat-orange, 400, 200, 600);
$my-grey-warn: mat-palette($mat-red, 800, 700, 900);



$grey-theme: mat-light-theme($my-grey-primary,
        $my-grey-accent,
        $my-grey-warn);