$qperior-palette: (
    100: rgba(65, 166, 42, 0.2),
    200: rgba(65, 166, 42, 0.4),
    300: rgba(65, 166, 42, 1),
    400: rgba(70, 39, 83, 0.2),
    500: rgba(70, 39, 83, 0.4),
    600: rgba(70, 39, 83, 1),
    contrast:(100: rgb(0, 0, 0),
        200: rgb(255, 255, 255),
        300: rgba(255, 255, 255),
        400: rgb(0, 0, 0),
        500: rgb(255, 255, 255),
        600: rgba(255, 255, 255),
    )
);
$red-palette: (
    100: rgb(255, 0, 0),
    200: rgba(150, 0, 0),
    300: rgba(50, 0, 0),
    contrast:(100: rgb(0, 0, 0),
        200: rgb(255, 255, 255),
        300: rgba(255, 255, 255),
    )
);


$purple-palette: (
    100: rgba(70, 39, 83, 0.2),
    200: rgba(70, 39, 83, 0.4),
    300: rgba(70, 39, 83, 1),
    contrast:(100: rgb(0, 0, 0),
        200: rgb(255, 255, 255),
        300: rgba(255, 255, 255),
    )
);

$green-palette: (
    100: rgba(65, 166, 42, 0.2),
    200: rgba(65, 166, 42, 0.4),
    300: rgba(65, 166, 42, 1),
    contrast:(100: rgb(0, 0, 0),
        200: rgb(255, 255, 255),
        300: rgba(255, 255, 255),
    )
);

$grey-palette: (
    100: rgba(71, 71, 71, 0.2),
    200: rgba(71, 71, 71, 0.4),
    300: rgba(71, 71, 71, 1),
    contrast:(100: rgb(0, 0, 0),
        200: rgb(255, 255, 255),
        300: rgba(255, 255, 255),
    )
);

$ice-palette: (
    100: rgba(181, 205, 233, 0.2),
    200: rgba(181, 205, 233, 0.4),
    300: rgba(181, 205, 233, 1),
    contrast:(100: rgb(0, 0, 0),
        200: rgb(255, 255, 255),
        300: rgba(255, 255, 255),
    )
);