@use '@angular/material' as mat;
@use './palettes.scss' as palette;
@import './theme-functions.scss';

$my-purple-primary: mat.define-palette(palette.$purple-palette, 300, 200, 300);
$my-purple-accent: mat-palette($mat-yellow, 500, 100, 800);
$my-purple-warn: mat-palette($mat-red, 800, 700, 900);
$my-purple-background: mat-palette($mat-grey, 500, 100, 800);

$purple-theme: mat-light-theme($my-purple-primary, $my-purple-accent, $my-purple-warn);

//$my-purple-theme: modify-background($my-purple-theme, $my-purple-background);