@use '@angular/material' as mat;
@use './palettes.scss' as palette;
@import './theme-functions.scss';




$my-qperior-primary: mat.define-palette(palette.$green-palette, 300, 200, 300);
$my-qperior-accent: mat.define-palette(palette.$purple-palette, 300, 200, 300);
$my-qperior-warn: mat-palette($mat-red, 800, 500, 900);

$qperior-typography: mat.define-typography-config($font-family: 'Showcard Gothic');

$qperior-theme: mat.define-light-theme((color: (primary: $my-qperior-primary,
                accent: $my-qperior-accent,
                warn: $my-qperior-warn ),
            typography: $qperior-typography,
        ));