/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@use "@angular/material" as mat;
@import "@angular/material/theming";

@include mat-core();

@import './themes/green-theme.scss';
@import './themes/purple-theme.scss';

@import './app/Components/card/card.component.scss-theme.scss';

@mixin my-components-theme($theme) {
  @include card-theme($theme);
}

.first-theme {
  @include angular-material-theme($my-purple-theme);
  @include my-components-theme($my-purple-theme);
}

.second-theme {
  @include angular-material-theme($my-green-theme);
  @include my-components-theme($my-green-theme);
}
 
html,
body {
  height: 100%;
  padding: 1rem;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}